.list {
  a:hover {
    opacity: 1;

    li {
      .list__hero {
        div {
          picture {
            opacity: 0.8;
            transition: opacity 0.3s ease;
          }
        }
      }
    }
  }

  .list__hero {
    width: 100%;
    height: 33vh;
    overflow: hidden;
    background-color: #000;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      min-height: 100%;
    }

    div {
      picture {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
    }
  }

  .list__info {
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 1.25rem;
    border-bottom: 1px solid #ebebeb;

    h1,
    h2,
    h3,
    p {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition: transform 0.5 ease-out;
      transition: transform 0.5s ease-out;
    }
  }

  .text {
    display: flex;
    height: 100%;
  }

  .title{
    font-size: 3vmin;
    white-space: nowrap;
  }
  .instructor{
    font-size: 2.2vmin;
    white-space: nowrap;
  }

  .leftPart {
    width: 80%;
  }

  .flex__addtion {
    display: flex;
  }

  .main__info {
    width: 40%;
  }

  .addtion {
    width: 40%;
    border-radius: 40%;
    padding: 0 3%;
    opacity: 0;

    h3 {
      margin: 1pt;
      font-size: 1.2vmin;
    }
  }

  .text__addtion {
    font-size: 1.2vmin;
  }

  .list__info:hover .addtion {
    opacity: 1;
  }

  .rightPart {
    width: 20%;
    font-size: 1.6vmin;
    text-align: right;
    white-space: nowrap;
  }

  .text__rightPart {
    font-size: 2vmin;
  }

  .detail {
    max-width: 78%;
    font-size: 2vmin;
  }

  li {
    opacity: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 38vh;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0.7rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 900px;
  }
}

@media (min-width: 768px) {
  .list {
    a:hover {
      opacity: 1;

      li {
        div.list__info {

          h1,
          h2,
          h3,
          p,
          .addtion {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
            -webkit-transition: transform 0.5s ease-out;
            transition: transform 0.5s ease-out;
          }
        }
      }
    }

    li {
      min-height: 250px;
      height: 33.333vh;
      flex-direction: row;
    }

    .list__hero {
      height: 100%;

      img {
        min-width: 100%;
        height: 100%;
        width: auto;
        min-height: 0;
      }
    }

    .list__info {
      min-width: 70%;
    }
  }
}

@media (min-width: 1280px) {
  .list {
    .list__info {
      padding: 3rem;
    }

    h3 {
      margin-bottom: 1.2rem;
    }
  }
}
