.header {
  h1 {
    margin-bottom: 0; 
  }
}

.header__nav {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}
.header__tagList{
  // padding: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  // padding-bottom: 2rem;

  border-right: 5px;
  border-left: 5px;
  border-bottom: none;
  margin: 0;
}
@media (min-width: 768px) {
  .header {
    height: 100vh;
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .header__nav {
    padding: 2rem;
    height: 100%;
    border-right: 1px solid #EBEBEB;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    img {
      margin-bottom: 0;
    }
  }
  .header__tagList{
    padding-left: 0rem;
    padding-top: 2rem;
    padding-right: 0rem;
    padding-bottom: 2rem;

    border-right: 5px;
    border-left: 5px;
    border-bottom: none;
    margin: 0;
  }
}
